.image {
  object-fit: cover;
  margin: 10px;
  height: 300px;
  width: 95vw;
}

.subcategory-image {
  object-fit: cover;
  margin: 10px;
  height: 280px;
  width: 95vw;
}

.contact-image {
  object-fit: cover;
  margin: 10px;
  height: 650px;
  width: 95vw;
  margin-bottom: 50px;
}

.label {
  position: absolute;
  top: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #e3e3e3;
  padding: 20px 35px;
}

.subcategory-label {
  position: absolute;
  top: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #e3e3e3;
  padding: 10px 20px;
}

.MuiTypography-root.header-text {
  font-size: 40px;
  width: 100%;
  font-family: "Segoe UI Symbol";
  text-align: center;
}

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 50px;
  width: 95vw;
}

.carousel-image {
  height: 300px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.contact-card {
  margin-top: 10px;
  width: 90%;

}

.logo-image {
  margin-left: -100px;
}

@media (min-width: 600px) {
  .image {
    height: 800px;
  }
  .subcategory-image {
    
    width: 100%;
  }
  .carousel-image {
    height: 400px;
  }
  .contact-image {
    height: 800px;
    margin-bottom: 100px;
  }
  .label {
    top: 40%;
  }
  .subcategory-label {
    top: 40%;
  }
  .MuiTypography-root.header-text {
    font-size: 60px;
    width: 100%;
  }
  .text-box {
    width: 70%;
    margin-bottom: 100px;
  }
  .logo-image {
    margin-left: -150px;
  }
}

@media (min-width: 1200px) {
  .logo-image {
    margin-left: 0px;
  }

}
