:root {
  background-color: rgb(255, 255, 255);
}

.text {
  color: antiquewhite;
}

.text-secondary {
  color: rgb(70, 70, 70)
}

#map {
  width: 600px;
  height: 300px;
  border-radius: 20px;
}

@media screen and (max-width: 1300px) {
  #map {
    width: 400px;
    height: 200px;
  }
}


